/* .sh1 {
    background-color: lightblue;
    width: 110px;
    height: 110px;
    overflow: scroll;
}

.sh2 {
    background-color: rgb(0, 253, 67);
    width: 110px;
    height: 110px;
overflow: hidden;}


.sh3
{
    background-color: rgb(236, 15, 33);
    width: 110px;
    height: 110px;
    overflow: auto;
} */ */

/* /* .divi1{
    background-color: red;
    height: 200px;
    width: 200px;
    float: left;

}
.divi2{
    background-color: red;
    height: 200px;
    width: 200px;
    float: right;
} */


/* .all {
    overflow: hidden;
    width: 200px;
    display: block;
    margin: 200px auto;
}

h1 {
    font-family: 'poppins', sans-serif;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    margin: 0 auto;
} */

.blue1 {
    border: 5px solid blue;
    text-align: center;
    color: blue;
    border-radius: 20%;
    margin-left: 50px;

}
.red1{
    border: 5px solid red;
    text-align: center;
    color: red;
    border-radius: 20%;
    margin-left: 25px;
    float: left;
}
.green1{
    border: 5px solid green;
    text-align: center;
    color: green;
   float: left;
    border-radius: 20%;

}

.blue2{
    border: 5px solid blue;
    text-align: center;
    color: blue;
    border-radius: 20%;
    float: left;
    clear: left ;

}
.green2{
    border: 5px solid green;
    text-align: center;
    color: green;
    border-radius: 20%;
    float: left;
}
.red2{
    border: 5px solid red;
    text-align: center;
    color: red;
    border-radius: 20%;
    float: left;
    
}