div {
    display: block;
}

.leftie {
    color: white;
    background-color: purple;
    width: 600px;
    height: 600px;

}

.rightie {

    float: right ;
    width: 300px;
    height: 300px;
    background-color: lightblue;
    padding: 10px;
    border-radius: 5px;


}