h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

p {
  line-height: 40px;
}

h2 {
  text-align: right
}

h3 {
  letter-spacing: 15px;
}

h4 {
  color: orange
}

h5 {
  text-transform: uppercase;
}