/* General styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

.header {
    background-color: rgb(156, 156, 24);
    color: #f1f1f1;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulli {
    margin: 10px;
}

.muzeu {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.emblema-kosoves {
    height: 40px;
    width: 40px;
    margin-top: 10px;
}

.header-button-menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.header-buttons li {
    position: relative;
}

.dropdown-btn, .popup-btn {
    cursor: pointer;
    padding: 10px 15px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.dropdown-btn:hover, .popup-btn:hover {
    background-color: #555;
}

/* Dropdown menu */
.toggle {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
}

.dropdown-content li {
    margin: 0;
}

.dropdown-content a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #f4f4f4;
}

/* Show dropdown on toggle */
#visit-toggle:checked ~ .dropdown-content {
    display: block;
}

/* Popup content */
.popup-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    z-index: 2;
}

.card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.form-popup form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-popup label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-popup input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-popup button {
    background-color: #444;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-popup button:hover {
    background-color: #555;
}

/* Show popup content on toggle */
#membership-toggle:checked ~ .popup-content,
#support-toggle:checked ~ .popup-content,
#about-toggle:checked ~ .popup-content {
    display: block;
}
