div {
    border: 1px solid;
}

.text1 {
    text-align: center;
}

.text2 {
    color: red;
}


.text3 {
    color: blue;

}

img {
    padding-left: 35%;
    width: 300px;
    height: 300px;
}

p {
    color: red;
    border: 3px solid;
    border-color: blue;
}

h1 {
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}

h4 {
    text-decoration: underline;
}