@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Kalam:wght@700&family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #222324;
}


/*Small devices*/
@media (max-width:640px){

  .container {
    height: 100vh;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 80px 1fr 1fr 2fr;
    grid-template-columns: 90px repeat(4, 1fr);
    grid-template-areas:
      "header header header header header"
      "sidebar sales sales sales sales"
      "sidebar sales sales sales sales"
      "sidebar new new new new";
  }
  
  .header {
    grid-area: header;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 2fr 3fr 2fr;
  }
  
  .header h1 {
    position: relative;
    top: 10px;
    left: 5px;
    align-self: center;
    font-family: "Kalam", cursive;
    font-size: 16px;
  }
  
  .header::before {
    content: "";
    width: 35px;
    height: 35px;
    display: block;
    align-self: center;
    background: rgba(255, 58, 153, 0.3);
    border-radius: 100%;
    position: absolute;
    /* z-index: -1; */
  }
  
  .header-buttons {
    align-self: center;
    border-radius: 8px;
    background-color: rgba(241, 241, 241, 0.689);
    font-weight: 300;
  }
  
  .header-buttons button img {
    box-sizing: content-box;
  }
  
  .header-buttons button {
    box-sizing: border-box;
    padding: 2px 11px;
  
    background-color: rgba(241, 241, 241, 0.689);
    color: #222324;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 7px;
  }
  
  .header-buttons img {
    width: 22px;
  }
  
  .header-buttons button:hover {
    background-color: rgba(255, 58, 153, 0.3);
    color: #f5f5f5;
  }
  
  .input-group {
    padding-top: 10px;
    align-self: center;
  }
  
  .input-group input {
    background-color: rgba(241, 241, 241, 0.689);
    outline: none;
    border: none;
  }
  
  #inputGroup-sizing-sm:active {
    outline: none;
    border: none;
  }
  
  .input-group-text {
    border: none;
    outline: none;
    background-color: rgba(241, 241, 241, 0.689);
    height: 40px;
  }
  
  .input-group img {
    box-sizing: content-box;
    width: 14px;
    padding: 4px 6px;
  }
  
  .header .account {
    align-self: center;
    justify-self: end;
  }
  
  .sidebar {
    grid-area: sidebar;
  }
  
  .sidebar .h4 {
    font-weight: 700;
  }
  
  .sidebar .list-group-item {
    border: none;
    padding: 5px 0;
  
  }
  
  .sidebar img {
    box-sizing: content-box;
    padding-right: 12px;
    width: 22px;
  }
  
  .sidebar .link-dark {
    text-decoration: none;
    color: #535659;
    font-size: 10px;
    transition: all 0.3s;
    font-weight: 300;
  }
  
  .sidebar .link-dark:hover {
    font-weight: bold;
    font-size: 11px;
  }
  
  .product-sales {
    grid-area: sales;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
  
  .product-new {
    grid-area: new;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
  }
  

    .horizontal-1{
        grid-row: 1/2;
        grid-column: 1/3;
        background-image: url(./../img/horizontal-1.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 8px;
    }

    .horizontal-2{
        grid-row: 2/3;
        grid-column: 1/3;
        background-image: url(./../img/horizontal-2.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 8px;
    }

    .vertical-1{
        grid-row: 1/2;
        grid-column: 3/-1;
        background-image: url(./../img/horizontal-2.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 8px;
    }
    
}

