$primary-color: #d37b55;
$primary-orange: #efbf7c;
$secondary-color: #e66b0e;


body {
    background-color: $primary-color;
    font-family: "Noto Sans JP", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    a {
        color: #fff;
        text-decoration: none;
    }

    .btn {
        padding: 15px 45px;
        border: 1px solid $primary-orange;
        color: $primary-orange;
        border-radius: 0.5em;
        display: inline-block;
        margin-top: 2em;
        font-weight: 700;
        transition: 0.3s;
        background-color: transparent;

    

    &:hover {
        background-color: $primary-orange;
        color: #000;
    }
}
}


.modal {
    position: fixed;
    padding: 20px;
    max-width: 500px;
    border-radius: 0.5em;
    top: 50%;
    left: 50%;
    color: #000;
    transform: translate(-50%, -50%);
    background-color: $primary-orange;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0s linear 0.5s;
    z-index: 1;


&:target{
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
.button-group{
    display: flex;
    justify-content: space-evenly;
   .button1{
    border: 1px solid black;
    
   }
}


}
