table{
    border: 1px solid black;
    border-collapse: collapse;
}


th{
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    border-collapse: collapse;
}

.Nje{
    background-color: red;

}
.Dy{
    background-color:  rgb(242, 146, 146);
}

.Tre{
    background-color: orange;
}
.Kater{
    background-color: yellow;
}
.Pese{
    background-color:  lightgreen;
}



