.tooltip{
    position: relative;
    border-bottom: 1px dashed #000;
}
.tooltip:before{
content: attr(data-text);
position: absolute;

top: 50%;
transform: translateY(-50%);

left: 100%;
margin-left: 15px;

width: 200px;
padding: 10px;
border-radius: 10px;
background-color: #000;
color: #fff;
text-align: center;
display: none;
}
.tooltip:hover:before{
    display: block;
}