.paginate{
    border: 1px solid gray;
    border-radius: 100px;
text-align: center;
height: 60px;
justify-content: space-evenly;
display: flex;
align-items: center;
background-color: rgb(201, 233, 244);
}
a{
    color: black;
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: all 0.1s ease-in;
   

  

    &:hover {
        background-color: green;
        color: white;
    }

}
