.main-image {
    width: 100%;
    height: 900px;
    opacity: 75%;
    display: inline-block;
    position: relative;
}

.spodi {
    margin: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
}

.butoni-learn {
    width: 150px;
    height: 50px;
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 10px;
}
.container{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    flex-wrap: nowrap;
    
}
.fototekst{
    display: flex;
    justify-content: flex-start;
}
.tekst{
    margin: 100px;
   
}


