.container{
    background-color: #eee;
    width: 1000px;
    margin: 30px auto;
    display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(3, 1fr)
;
    /* grid-row-gap:30px;
    grid-column-gap: 30px; */
    grid-gap: 30px;
}
.item{
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}
.black{
    background-color: black;

}
.pink{
    background-color: pink;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
