body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.quiz-container{
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

h2{
    margin-bottom: 20px 0;
}
.options{
    margin: 20px 0 ;
}
.options button{
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

#submitBtn{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#result{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
#timer{
    margin-top: 15px;
    font-size: 18px;
    color: #ff0000;
}
.answer-list{
    margin-top: 20px;
    text-align: left;
    
}