@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;



}

.header {
    background-color: #000;
    color: #fff;
    padding: 20px;
}

.top-menu {
    text-align: right;
    position: relative;
    top: 30px;
}

.menu {
    list-style: none;
    display: inline-flex;
    gap: 15px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.flat-icon-search {
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.menu li a:hover {
    background-color: #444;
    border-radius: 5px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.title {
    max-width: 50%;
}

.muzeu {
    position: relative;
    left: 78px;
}

.titulli {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    position: absolute;
    top: 50px;
    left: 80px;
}

.emblema-kosoves {
    height: 40px;
    width: 40px;
    display: flex;
    position: relative;
    left: 0px;
    top: 18px;
}

.header-buttons {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.header-buttons .dropdown {
    position: relative;
}

.dropdown-link {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.dropdown-link:hover {
    background-color: #444;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 0;
    z-index: 1000;
    min-width: 200px;
}

.dropdown-content li {
    list-style: none;
}

.dropdown-content li a {
    text-decoration: none;
    color: #333;
    font-size: 0.9rem;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content li a:hover {
    background-color: #f5f5f5;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    background-color: #000;
    color: #f5f5f5;
    display: flex;


}

.footer-content {
    display: flex;

}

.left-footer {
    width: 600px;
    margin: 20px;
}




.left-footer-images {
    margin-top: 1px;

    width: 30px;
    height: 30px;
    border: 1px solid #999;
    background-color: #999;
    border-radius: 80%;
    justify-content: space-evenly;
    margin-left: 10px;
}

.left-footer-images:hover {
    transform: scale(1.09);
    background-color: #f5f5f5;
    transition: 0.4s all ease;
}

.sign-up-bar {
    display: flex;
    height: 30px;
    margin-top: 5px;
    justify-content: center;
}

.sign-up {
    border: 1px solid white;
    background-color: black;
    color: #f5f5f5;
    width: 200px;
    border-radius: 0%;
}

.sign-up-button {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    width: 90px;

}

.right-footer {
    display: block;
    margin: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}

.sign-up-button:hover {
    background-color: #000;
    color: #f5f5f5;
    transition: 0.5s ease all;
    cursor: pointer;
}

.container {
    height: 400px;
    margin: 30px;

}

.question-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.when-container {
    display: flex;

}

.dropdown-content-when {
    display: none;
    width: 100px;
    height: 30px;

}

.dropdown-when {
    list-style: none;
    border: 1px solid #000;
    width: 300px;
    text-align: center;
    background-color: #000;
    color: #f5f5f5;
}

.dropdown-when a {
    color: #f5f5f5;
    text-decoration: none;


}

.dropdown-when:hover {
    background-color: #f5f5f5;
    color: #000;
    transition: 0.5s ease all;
}

.dropdown-content-when {
    list-style: none;
    width: 100%;
}

.dropdown-content-when li input {
    border-style: none;
    width: 200px;
    background-color: #f5f5f5;
    transition: 0.5s ease all;
}

.dropdown-when:hover a {
    color: #000;

}

.dropdown-when:hover .dropdown-content-when {
    display: block;
    list-style: none;

}

.who-container {
    display: flex;

}

.dropdown-content-who {
    display: none;
    width: 100px;
    height: 180px;
    align-items: center;



}

.dropdown-who {
    list-style: none;
    border: 1px solid #000;
    width: 300px;
    text-align: center;
    background-color: #000;
    color: #f5f5f5;
}

.dropdown-who a {
    color: #f5f5f5;
    text-decoration: none;


}

.dropdown-who:hover {
    background-color: #f5f5f5;
    color: #000;
    transition: 0.5s ease all;
}

.dropdown-content-who {
    list-style: none;
    width: 100%;
}

.dropdown-content-who li input {
    border-style: none;
    width: 200px;
    background-color: #f5f5f5;
    transition: 0.5s ease all;
}

.dropdown-who:hover a {
    color: #000;

}

.dropdown-who:hover .dropdown-content-who {
    display: block;
    list-style: none;

}

.checkbox {
    display: flex;
    flex-direction: column;

}

.checkbox label {
    position: relative;
    top: 20px;
    left: 20px;
}

.checkbox input {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.what-container {
    display: flex;

}

.dropdown-content-what {
    display: none;
    width: 100px;
    height: 180px;
 



}

.dropdown-what {
    list-style: none;
    border: 1px solid #000;
    width: 300px;
    text-align: center;
    background-color: #000;
    color: #f5f5f5;
}

.dropdown-what a {
    color: #f5f5f5;
    text-decoration: none;


}

.dropdown-what:hover {
    background-color: #f5f5f5;
    color: #000;
    transition: 0.5s ease all;
}

.dropdown-content-what {
    list-style: none;
    width: 100%;
}

.dropdown-content-what li input {
    border-style: none;
    width: 200px;
    background-color: #f5f5f5;
    transition: 0.5s ease all;
}

.dropdown-what:hover a {
    color: #000;

}

.dropdown-what:hover .dropdown-content-what {
    display: block;
    list-style: none;

}

.checkbox-2 {
    display: flex;
    flex-direction: column;

}

.checkbox-2 label {
    position: relative;
    top: 20px;
    left: 20px;
}

.checkbox-2 input {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}