h1{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #f5f5f5;

}
p{
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
}