.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4 4;
    gap: 15px;
    width: 500px;
    height: 500px;

}

.red {
    grid-column: 1/3;
    grid-row: 1;
    background-color: red;
}

.blue {
    grid-column: 1;
    grid-row: 2/4;
    background-color: blue;
}

.green {
    grid-column: 2;
    grid-row: 2;
    background-color: green;
}

.purple-1 {
    grid-column: span 2/3;
    grid-row: 3/4;

    background-color: purple;
}
.purple-2 {
    grid-column: 3/4;
    grid-row: 2/3;

    background-color: purple;
}