div {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;

}
.relative-box {
    position: relative;
    left: 20px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}
.absolute-box{
    position: absolute;
    top: 150px;
    left: 30px;
    border: 1px solid black;
    padding: 10px;
}
.fixed-box{
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: red;
}
.sticky-box{
    position: sticky;
    top: 0;
    border: 1px solid black;
    padding: 10px;
    background-color: yellowgreen;
}
.box1{
    position: absolute;
    top: 70px;
    left: 70px;
    width: 100px;
    height: 100px;
    background-color: red;
    z-index: 1;
}

.box2{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
    background-color: rgb(102, 0, 255);
    z-index: 2;
}
